<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style-cardDetail.css">
    <link rel="stylesheet" href="/css/style-universal.css">
    <link rel="stylesheet" href="/css/style-modal.css">
    <title>Card Details</title>
</head>

<body>

    <main>
        <table border="1" class="carddetailTable">
            <section>
                <tr>
                    <td rowspan="23">
                                <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
                                    <!-- Slideshow -->
                                    <div class="carousel-inner" class="cardImage" role="listbox">
                                        <div class="item active" class="card">  
                                            <div class="carousel-caption">
                                                <h3>card 1</h3>
                                                <img src="<%= localCard.img %>" alt="" />
                                            </div>
                                        </div>
                                        <div class="item"> 
                                            <div class="carousel-caption">
                                              <h3>card 2</h3>
                                                <img src="<%= localCard.img %>" alt="">
                                            </div>
                                        </div>
                                        <div class="item"> 
                                            <div class="carousel-caption">
                                              <h3>card 3</h3>
                                                <img src="<%= localCard.img %>" alt="">
                                            </div>
                                        </div>
                                    </div>
                            
                                    <!-- Pijlen -->
                                    <a class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carouselFade" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                                <!-- Include all compiled plugins (below), or include individual files as needed -->
                                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
                    </td>
                </tr>
            </section>
            <section>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Card Name:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <%= card.name %>
                        </div>
                    </td>
                </tr>
                <% if(card.cmc != 0){ %>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Mana Cost:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <% for(let i=0; i<card.manaCost.length; i++){
                                const mana = ['W', 'U', 'B', 'R', 'G'];
                                if (!mana.includes(card.manaCost[i])){
                            %>
    
                                    <%= card.manaCost[i] %>
                            <%
                                }
                                else{                   
                            %>
                                <img src="/assets/images/mana/<%= card.manaCost[i]%>.png" alt="">
                            <% }} %>
                        </div>
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Converted Mana Cost:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <%= card.cmc %>
                        </div>
                    </td>
                </tr>
                <% if(card.colorId.length >= 1){ %>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Color Identity:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <% for(let i=0; i<card.colorId.length; i++){
                            %>
                            <img src="/assets/images/mana/<%= card.colorId[i]%>.png">
                            <% } %>
                        </div>
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Types:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <%= card.type %>
                        </div>
                    </td>
                </tr>
                <% if(card.text){ %>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Card Text:
                        </div>
                    </td>
                    <td>
                        <div class="columnB">
                            <% for(let i=0; i<card.text.length; i++){
                            %>
                            <div class="cardtextbox">
                                <%= card.text[i]%>
                            </div>
                            <% if (i != card.text.length - 1){ // geen break na laatste element
                            %>
                            <br>
                            <% }} %>
    
                        </div>
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Rarity:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <%= card.rarity %>
                        </div>
                    </td>
                </tr>
                <% if(card.power && card.toughness){ %>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Power / Toughness:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <%= card.power %> / <%= card.toughness %>
                        </div>
                    </td>
                </tr>
                <% } %>
                <% if(card.flavorText){ %>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Flavor Text:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <div class="flavortextbox"> <%= card.flavorText %> </div>
                        </div>
                    </td>
                </tr>
                <% } %>
    
                <% if(card2 != null){ %>
                    <tr>
                        <td class="columnA c2">
                            <div class="columnA">
                                Card Name:
                            </div>
                        </td>
                        <td class="columnB c2">
                            <div class="columnB">
                                <%= card2.name %>
                            </div>
                        </td>
                    </tr>
                    <% if(card2.manaCost.length >= 1){ %>
                    <tr>
                        <td class="columnA c2">
                            <div class="columnA">
                                Mana Cost:
                            </div>
                        </td>
                        <td class="columnB c2">
                            <div class="columnB">
                                <% for(let i=0; i<card2.manaCost.length; i++){
                                    const mana = ['W', 'U', 'B', 'R', 'G'];
                                    if (!mana.includes(card2.manaCost[i])){
                                %>
        
                                        <%= card2.manaCost[i] %>
                                <%
                                    }
                                    else{                   
                                %>
                                    <img src="/assets/images/mana/<%= card2.manaCost[i]%>.png" alt="">
                                <% }} %>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                    <tr>
                        <td class="columnA c2">
                            <div class="columnA">
                                Types:
                            </div>
                        </td>
                        <td class="columnB c2">
                            <div class="columnB">
                                <%= card2.type %>
                            </div>
                        </td>
                    </tr>
                    <% if(card2.text){ %>
                    <tr>
                        <td class="columnA c2">
                            <div class="columnA">
                                Card Text:
                            </div>
                        </td>
                        <td>
                            <div class="columnB c2">
                                <% for(let i=0; i<card.text.length; i++){
                                %>
                                <div class="cardtextbox">
                                    <%= card2.text[i]%>
                                </div>
                                <% if (i != card2.text.length - 1){ // geen break na laatste element
                                %>
                                <br>
                                <% }} %>
        
                            </div>
                        </td>
                    </tr>
                    <% } %>
                    <% if(card2.power && card2.toughness){ %>
                    <tr>
                        <td class="columnA c2">
                            <div class="columnA">
                                Power / Toughness:
                            </div>
                        </td>
                        <td class="columnB c2">
                            <div class="columnB">
                                <%= card2.power %> / <%= card2.toughness %>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                    <% if(card2.flavorText){ %>
                    <tr>
                        <td class="columnA c2">
                            <div class="columnA">
                                Flavor Text:
                            </div>
                        </td>
                        <td class="columnB c2">
                            <div class="columnB">
                                <div class="flavortextbox"> <%= card2.flavorText %> </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                <% } %> 
    
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Expansion:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <%= card.exp %>
                        </div>
                    </div>
                    </td>
                </tr>
                <% if(card.artist){ %>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Artist:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <%= card.artist %>
                        </div>
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td class="columnA">
                        <div class="columnA">
                            Legality:
                        </div>
                    </td>
                    <td class="columnB">
                        <div class="columnB">
                            <div class="columnB">Standard: <%= card.legality.standard %></div>
                            <div class="columnB">Alchemy: <%= card.legality.alchemy %></div>
                            <div class="columnB">Pioneer: <%= card.legality.pioneer %></div>
                            <div class="columnB">Explorer: <%= card.legality.explorer %></div>
                            <div class="columnB">Modern: <%= card.legality.modern %></div>
                            <div class="columnB">Brawl: <%= card.legality.brawl %></div>
                            <div class="columnB">Legacy: <%= card.legality.legacy %></div>
                            <div class="columnB">Historic: <%= card.legality.historic %></div>
                            <div class="columnB">Vintage: <%= card.legality.vintage %></div>
                            <div class="columnB">Pauper: <%= card.legality.pauper %></div>
                            <div class="columnB">Commander: <%= card.legality.commander %></div>
                        </div>
                    </td>
                </tr>        
                </section>   
        </table>
        <br>
        <form action="/deck/<%= decks[0].id %>/<%= localCard.id %>/1" name="deckSelector" id="deckSelector">

            <select name="decks" id="decks" onchange="changeAddUrl()">
                <% for(let i = 0; i < decks.length; i++){ %>
                <option value="<%= decks[i].name %>"><%= decks[i].name %></option>
                <% } %>
            </select>
            <% let text = [];
                for(let i = 0; i < cards.length; i++){
                if(localCard.id == cards[i].cardId){
                    text.push(" " + cards[i].deckName );
                }
            }{
            %>
            <input type="submit" value="Add" id="addButton">
            <% if(text.length>0){ %>
                <br>
                <label for="showInDecks" id="decksLabel">This card is in the following deck(s):</label>
                <p id="showInDecks">  <%= text %> </p><%}%>
            <%}%>
            
            

        </form>
        <script src="/js/modals.js"></script>
    </main>
</body>


