<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style-universal.css">
    <link rel="stylesheet" href="/css/style-modal.css">
    
    <link rel="stylesheet" href="/css/cardDetail.css">

    <title>Card Details</title>
</head>

<body>

    <main>
        <table border="1" class="carddetailTable">
            <section>
                <tr>
                    <td rowspan="23">
                        <div class="cardColumn">
                            <s id="s1"></s> 
                            <s id="s2"></s>
                            <s id="s3"></s>
                            <s id="s4"></s>
                            <div class="cardImage">
                                <div class="card">
                                    
                                    <img src="<%= localCard.img %>">
                                </div>
                                <div class="card">
                                    <img src="./assets/images/placeholders/planeswalkers.jpg" alt="planeswalkers">
                                </div>
                                <div class="card">
                                    <img src="./assets/images/placeholders/artifact.jpg" alt="planeswalkers">
                                </div>
                                <div class="card">
                                    <img src="./assets/images/placeholders/sorcery.jpg" alt="planeswalkers">
                                </div>
                                
                            </div>
                            <div class="prevNext">
                                <div><a href="#s4"></a><a href="#s2"></a></div>
                                <div><a href="#s1"></a><a href="#s3"></a></div>
                                <div><a href="#s2"></a><a href="#s4"></a></div>
                                <div><a href="#s3"></a><a href="#s1"></a></div>
                              </div>
                            <form action="#">
                                <label for="decks">Decks: </label>
                                <select class="addDeckButton" name="decks" id="decks">
                                    <% for(let i = 0; i < decks.length; i++){ %>
                                    <option value="<%= decks[i].name %>"><%= decks[i].name %></option>
                                    <% } %>
                                </select>
                                <button>Add</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </section>
            <section>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Card Name:
                    </div>
                </td>
                <td class="columnB">
                    <div class="columnB">
                        <%= card.name %>
                    </div>
                </td>
            </tr>
            <% if(card.cmc != 0){ %>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Mana Cost:
                    </div>
                </td>
                <td class="columnB">
                    <div class="columnB">
                        <% for(let i=0; i<card.manaCost.length; i++){
                            const mana = ['W', 'U', 'B', 'R', 'G'];
                            if (!mana.includes(card.manaCost[i])){
                        %>

                                <%= card.manaCost[i] %>
                        <%
                            }
                            else{                   
                        %>
                            <img src="/assets/images/mana/<%= card.manaCost[i]%>.png" alt="">
                        <% }} %>
                    </div>
                </td>
            </tr>
            <% } %>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Converted Mana Cost:
                    </div>
                </td>
                <td class="columnB">
                    <div class="columnB">
                        <%= card.cmc %>
                    </div>
                </td>
            </tr>
            <% if(card.colorId){ %>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Color Identity:
                    </div>
                </td>
                <td class="columnB">
                    <div class="columnB">
                        <% for(let i=0; i<card.colorId.length; i++){
                        %>
                        <img src="/assets/images/mana/<%= card.colorId[i]%>.png">
                        <% } %>
                    </div>
                </td>
            </tr>
            <% } %>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Types:
                    </div>
                </td>
                <td class="columnB">
                    <div class="columnB">
                        <%= card.type %>
                    </div>
                </td>
            </tr>
            <% if(card.text){ %>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Card Text:
                    </div>
                </td>
                <td>
                    <div class="columnB">
                        <% for(let i=0; i<card.text.length; i++){
                        %>
                        <div class="cardtextbox">
                            <%= card.text[i]%>
                        </div>
                        <% if (i != card.text.length - 1){ // geen break na laatste element
                        %>
                        <br>
                        <% }} %>

                    </div>
                </td>
            </tr>
            <% } %>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Rarity:
                    </div>
                </td>
                <td class="columnB">
                    <div class="columnB">
                        <%= card.rarity %>
                    </div>
                </td>
            </tr>
            <% if(card.power && card.toughness){ %>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Power / Toughness:
                    </div>
                </td>
                <td class="columnB">
                    <div class="columnB">
                        <%= card.power %> / <%= card.toughness %>
                    </div>
                </td>
            </tr>
            <% } %>
            <% if(card.flavorText){ %>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Flavor Text:
                    </div>
                </td>
                <td class="columnB">
                    <div class="columnB">
                        <div class="flavortextbox"> <%= card.flavorText %> </div>
                    </div>
                </td>
            </tr>
            <% } %>

            <% if(card2 != null){ %>
                <tr>
                    <td class="columnA c2">
                        <div class="columnA">
                            Card Name:
                        </div>
                    </td>
                    <td class="columnB c2">
                        <div class="columnB">
                            <%= card2.name %>
                        </div>
                    </td>
                </tr>
                <% if(card2.cmc != 0){ %>
                <tr>
                    <td class="columnA c2">
                        <div class="columnA">
                            Mana Cost:
                        </div>
                    </td>
                    <td class="columnB c2">
                        <div class="columnB">
                            <% for(let i=0; i<card2.manaCost.length; i++){
                                const mana = ['W', 'U', 'B', 'R', 'G'];
                                if (!mana.includes(card2.manaCost[i])){
                            %>
    
                                    <%= card2.manaCost[i] %>
                            <%
                                }
                                else{                   
                            %>
                                <img src="/assets/images/mana/<%= card2.manaCost[i]%>.png" alt="">
                            <% }} %>
                        </div>
                    </td>
                </tr>
                <% } %>
                <% if(card2.colorId){ %>
                <tr>
                    <td class="columnA c2">
                        <div class="columnA">
                            Color Identity:
                        </div>
                    </td>
                    <td class="columnB c2">
                        <div class="columnB">
                            <% for(let i=0; i<card2.colorId.length; i++){
                            %>
                            <img src="/assets/images/mana/<%= card2.colorId[i]%>.png">
                            <% } %>
                        </div>
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td class="columnA c2">
                        <div class="columnA">
                            Types:
                        </div>
                    </td>
                    <td class="columnB c2">
                        <div class="columnB">
                            <%= card2.type %>
                        </div>
                    </td>
                </tr>
                <% if(card2.text){ %>
                <tr>
                    <td class="columnA c2">
                        <div class="columnA">
                            Card Text:
                        </div>
                    </td>
                    <td>
                        <div class="columnB c2">
                            <% for(let i=0; i<card.text.length; i++){
                            %>
                            <div class="cardtextbox">
                                <%= card2.text[i]%>
                            </div>
                            <% if (i != card2.text.length - 1){ // geen break na laatste element
                            %>
                            <br>
                            <% }} %>
    
                        </div>
                    </td>
                </tr>
                <% } %>
                <% if(card2.power && card2.toughness){ %>
                <tr>
                    <td class="columnA c2">
                        <div class="columnA">
                            Power / Toughness:
                        </div>
                    </td>
                    <td class="columnB c2">
                        <div class="columnB">
                            <%= card2.power %> / <%= card2.toughness %>
                        </div>
                    </td>
                </tr>
                <% } %>
                <% if(card2.flavorText){ %>
                <tr>
                    <td class="columnA c2">
                        <div class="columnA">
                            Flavor Text:
                        </div>
                    </td>
                    <td class="columnB c2">
                        <div class="columnB">
                            <div class="flavortextbox"> <%= card2.flavorText %> </div>
                        </div>
                    </td>
                </tr>
                <% } %>
            <% } %> 

            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Expansion:
                    </div>
                </td>
                <td class="columnB">
                    <%= card.exp %>
                </div>
                </td>
            </tr>
            <% if(card.artist){ %>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Artist:
                    </div>
                </td>
                <td class="columnB">
                    <div class="columnB">
                        <%= card.artist %>
                    </div>
                </td>
            </tr>
            <% } %>
            <tr>
                <td class="columnA">
                    <div class="columnA">
                        Legality:
                    </div>
                </td>
                <td class="columnB">
                    <div class="columnB">
                        <div>Standard: <%= card.legality.standard %></div>
                        <div>Alchemy: <%= card.legality.alchemy %></div>
                        <div>Pioneer: <%= card.legality.pioneer %></div>
                        <div>Explorer: <%= card.legality.explorer %></div>
                        <div>Modern: <%= card.legality.modern %></div>
                        <div>Brawl: <%= card.legality.brawl %></div>
                        <div>Legacy: <%= card.legality.legacy %></div>
                        <div>Historic: <%= card.legality.historic %></div>
                        <div>Vintage: <%= card.legality.vintage %></div>
                        <div>Pauper: <%= card.legality.pauper %></div>
                        <div>Commander: <%= card.legality.commander %></div>
                    </div>
                </td>
            </tr>        
            </section>
        </table>
    </main>
</body>


