<%-include("partials/page-head")%>
<%-include("partials/header")%>

    <main>
        <section class="sub-header">
            <section class="sub-header-top">
                <h1>Decks</h1>
                <section class="ff sortChoise">
                    <label for="sortBy">Sorteren Op:</label>
                    <select name="sortBy" id="sortBy" select>
                        <option value="avgMana">Gemiddelde Mana</option>
                        <option value="cardCount">Aantal Kaarten</option>
                        <option value="deckName">Deck Naam</option>
                      </select>
                      <label for="sortOrder">Sorteren Van:</label>
                      <select name="sortOrder" id="sortOrder" select>
                          <option value="desc">Hoog naar Laag</option>
                          <option value="ass">Laag naar Hoog</option>
                        </select>
                </section>
                <button class="header-btn showM newDeckM">+ Nieuw Deck</button>
            </section>
            <%-include("partials/info-bar")%>
        </section>
        <section id="decks-view">
            <%for(let deck of decks){%>
            <a class="deck-summary" href="/deck/<%=deck.id%>">
                <h2><%=deck.name%></h2>
                <ul>
                    <%
                    let coverImg = "/assets/images/default-deck-image.jpg"; 
                    let totalManacost = 0;
                    let manaCards = 0;
                    let cardCount = 0;
                    let mana = [0,0,0,0,0,0]; // W U B R G C
                    if (deck.cards){
                        for (let card of deck.cards){
                            let manacost = card.manacost;
                            for (let variation of card.variations){
                                cardCount += variation.count;
                                if (card.mana.includes("W")){mana[0]+=variation.count};
                                if (card.mana.includes("U")){mana[1]+=variation.count};
                                if (card.mana.includes("B")){mana[2]+=variation.count};
                                if (card.mana.includes("R")){mana[3]+=variation.count};
                                if (card.mana.includes("G")){mana[4]+=variation.count};
                                if (card.mana.includes("C")){mana[5]+=variation.count};
                                if(manacost > 0){
                                    totalManacost += manacost*variation.count;
                                    manaCards += variation.count;
                                }
                            }
                        }
                    }
                    if(deck.coverCard != null){
                        coverImg = `https://cards.scryfall.io/art_crop/front/${deck.coverCard.substring(0,1)}/${deck.coverCard.substring(1,2)}/${deck.coverCard}.jpg`
                    }
                    %>
                    <li>Kaarten: <span class="cardCount"><%=cardCount%></span></li>
                    <li>G.M.K.: <span class="avgMana"><%=Math.round(totalManacost/manaCards*100)/100%></span></li>
                </ul>
                <div class="deck-image-container">
                    <img class="deck-image" src="<%=coverImg%>" alt="" width="471">
                </div>
                <ul>
                    <li><img src="/assets/images/mana/W.png" alt=""><span class="w-mana"><%=mana[0]%></span></li>
                    <li><img src="/assets/images/mana/U.png" alt=""><span class="u-mana"><%=mana[1]%></span></li>
                    <li><img src="/assets/images/mana/B.png" alt=""><span class="b-mana"><%=mana[2]%></span></li>
                    <li><img src="/assets/images/mana/R.png" alt=""><span class="r-mana"><%=mana[3]%></span></li>
                    <li><img src="/assets/images/mana/G.png" alt=""><span class="g-mana"><%=mana[4]%></span></li>
                    <li><img src="/assets/images/mana/C.png" alt=""><span class="c-mana"><%=mana[5]%></span></li>
                </ul>
            </a>
            <%}%>

        </section>

    </main>

    <footer>        
        <nav id="page-nav">
            <button class="change-page-button pre-page disabled">Vorige</button>
            <section class="page-info flex">
                <p>Pagina</p>
                <span class="current-page-nr">1</span>
                <p>Van de <span class="total-pages-count">2</span></p>
            </section>
            <button class="change-page-button next-page"><a href="./decks2.html">Volgende</a></button>
        </nav>
    </footer>
    
    <section id="modals">
        <%-include("partials/modals/card-modal")%>
        <%-include("partials/modals/error-modal")%>
        <%-include("partials/modals/logout-modal")%>
        <%-include("partials/modals/newDeck-modal")%>
    </section>
    <%-include('partials/page-tail')%>