<%-include('partials/page-head')%>
<% if (locals.header != 'false'){ %>
<%-include('partials/header')%>
<% } %>

    <main>
        <% if (locals.header != 'false'){ %>
        <section class="sub-header">
            <section class="sub-header-top">
                <h1><%=deck.name%></h1>

                <section class="ff">
                    <label for="cardCl">Select:</label>
                    <section class="" name="cardClass" id="cardClass" multiple size="1">
                        <button value="all">All</button>
                        <button value="lands">Lands</button>
                        <button value="creatures">Creatures</button>
                        <button value="artifacts">Artifacts</button>
                        <button value="enchantments">Enchantments</button>
                        <button value="planeswalkers">Planeswalkers</button>
                        <button value="instants">Instants</button>
                        <button value="sorceries">Sorceries</button>
                    </section>
                </section>
    
    
                <section class="flex ff">
                    <label for="viewChoise">Weergave:</label>
                    <select name="viewChoise" id="viewChoise" select>
                        <option value="list">Lijst</option>
                        <option value="grid">Rooster</option>
                    </select>
                </section>
                <button class="header-btn showM deckNameM">Decknaam</button>
                <button class="header-btn showM deckImgM">Deckafbeelding</button>
                <button class="header-btn showM deckRemoveM">Verwijderen</button>
                <button class="header-btn showM deckCopyM">Kopiëren</button>
    
            </section>

        </section>
        <% } %>
        <%-include("partials/info-bar")%>
        <aside>
            <section class="deck-summary">
                <%if(deck.name.length > 15){
                    deck.name = deck.name.substring(0, 15) + ".."}%>
                <h2><div><%=deck.name%></div></h2>
                <ul>
                    <%
                    let coverImg = "/assets/images/default-deck-image.jpg";
                    let totalManacost = 0;
                    let manaCards = 0;
                    let cardCount = 0;
                    let mana = [0,0,0,0,0,0]; // W U B R G C
                    let atMax = "";
                    if (deck.cards){
                        for (let card of deck.cards){
                            let manacost = card.manacost;
                            for (let variation of card.variations){
                                cardCount += variation.count;
                                if (card.mana.includes("W")){mana[0]+=variation.count};
                                if (card.mana.includes("U")){mana[1]+=variation.count};
                                if (card.mana.includes("B")){mana[2]+=variation.count};
                                if (card.mana.includes("R")){mana[3]+=variation.count};
                                if (card.mana.includes("G")){mana[4]+=variation.count};
                                if (card.mana.includes("C")){mana[5]+=variation.count};
                                if(manacost > 0){
                                    totalManacost += manacost*variation.count;
                                    manaCards += variation.count;
                                }
                            }
                        }
                    }
                    if(deck.coverCard != null){
                        coverImg = `https://cards.scryfall.io/art_crop/front/${deck.coverCard.substring(0,1)}/${deck.coverCard.substring(1,2)}/${deck.coverCard}.jpg`
                    }
                    if(manaCards === 0){
                        manaCards = 1;
                    }
                    if(cardCount === 60){
                        //atMax = "hidden";
                    }

                    %>
                    <li>Count: <span class="cardCount"><%=cardCount%></span></li>
                    <li>Avg Manacost: <span class="avgMana"><%=Math.round(totalManacost/manaCards*100)/100%></span></li>
                </ul>
                <div class="deck-image-container">
                    <img class="deck-image" src="<%=coverImg%>" alt="" width="471">
                </div>
                <ul>
                    <li><img src="/assets/images/mana/W.png" alt=""><span class="w-mana"><%=mana[0]%></span></li>
                    <li><img src="/assets/images/mana/U.png" alt=""><span class="u-mana"><%=mana[1]%></span></li>
                    <li><img src="/assets/images/mana/B.png" alt=""><span class="b-mana"><%=mana[2]%></span></li>
                    <li><img src="/assets/images/mana/R.png" alt=""><span class="r-mana"><%=mana[3]%></span></li>
                    <li><img src="/assets/images/mana/G.png" alt=""><span class="g-mana"><%=mana[4]%></span></li>
                    <li><img src="/assets/images/mana/C.png" alt=""><span class="c-mana"><%=mana[5]%></span></li>
                </ul>
            </section>
        </aside>
        <section id="cards-view">
            <%if(deck.cards){
            for (let card of deck.cards){

                for (let variation of card.variations){
                    let stackHight = "single"; 
                    let trash = "";
                    let atMin = "";
                    if(variation.count === 0){
                        trash = "!";
                        atMin = "hidden";
                    }
                    else if(variation.count === 2){
                        stackHight = "stack";
                    }
                    else if(variation.count > 2){
                        stackHight = "stack-multi";
                    }
                %>
            <article class="card">
                <img class="<%=stackHight%>  cardM" id="<%=variation.id%>" src="https://cards.scryfall.io/normal/front/<%=variation.id.substring(0,1)%>/<%=variation.id.substring(1,2)%>/<%=variation.id%>.jpg" alt="">
                <%if(card.isDblSided || card.isDblSided === false){
                    if(card.isDblSided){%>
                        <img class="<%=stackHight%>  cardM backside" id="<%=variation.id%>" src="https://cards.scryfall.io/normal/back/<%=variation.id.substring(0,1)%>/<%=variation.id.substring(1,2)%>/<%=variation.id%>.jpg" alt="" style="display: none;">
                        <img class="frontBack flipIcon" src="/assets/images/flip.png" alt="">
                <%}}else{%>
                    <img class="upDown flipIcon" src="/assets/images/flip.png" alt="">
                <%}%>
                <section class="card-count">
                    <a <%=atMin%> href="/deck/<%=deck.id%>/<%=variation.id%>/-1" class="count-down">-</a>
                    <a <%-trash%>hidden href="/deck/<%=deck.id%>/<%=variation.id%>/-1" class="count-down"><img src="/assets/images/bin.png" alt="" width="20px"></a>
                    <p class="count-now"><%=variation.count%></p>
                    <a <%=atMax%> href="/deck/<%=deck.id%>/<%=variation.id%>/1" class="count-up">+</a>
                </section>
            </article>

            <%}}}else{%>
                <p>No cards in this deck jet:<br>
                Go to => <a href="/">Homepage</a><br>to search for cards to add</p>
                <%}%>
        </section>

    </main>



<section id="modals">
    <%-include("partials/modals/deckCopy-modal")%>
    <%-include("partials/modals/card-modal")%>
    <%-include("partials/modals/error-modal")%>
    <%-include("partials/modals/logout-modal")%>
    <%-include("partials/modals/deckImg-modal")%>
    <%-include("partials/modals/deckName-modal")%>
    <%-include("partials/modals/deckRemove-modal")%>
    
</section>
<%-include('partials/page-tail')%>
<script src="/js/flip.js"></script>