<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style-universal.css">
    <link rel="stylesheet" href="/css/style-modal.css">
    <link rel="stylesheet" href="/css/style-header.css">
    
    
    <link rel="stylesheet" href="/css/home.css">
    <title>Cardmageddon - Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="flex-break"></li>
                <li class="home-link"><a href="/home" class="active">Startpagina</a></li>
                <li class="decks-link"><a href="/decks">Decks</a></li>
                <li class="draw-link"><a href="./drawtest.html">Draw Test</a></li>
                <li><button class="header-btn showM logM" id="loginStatus">Afmelden<status>1</status></button></li>
            </ul> 
        </nav>
    </header>

    <div class="search-container">
        <form action="/home" method="post" >
            <input type="text" placeholder="Search cards..." name="search">
            <button type="submit" id="show-images-btn">Search</button>
          </form>
    </div>

    <%     
    if(locals.error){
    %>
    
    <div class="emptySearch"><%= error %></div>

    <% }
    %>
	<div class="image-grid">

        <%     
        if(locals.cards && locals.cards.length > 0 && locals.cards[0].id != ''){
        for (let i = 0; i<cards.length; i++){
        %>
            <img src="<%= cards[i].img %>" alt="" class="<%= cards[i].rarity %> searchedCard showM cardM" id="<%= i %>">
            <!-- <p><%= cards[i].id %></p> -->

        <% }}
        %>

	</div>

    <div class="pagination">

        <%     
        if(locals.cards && locals.cards.length > 0 && locals.cards[0].id != ''){
        %>   

            <% if (pageNumber > 1) { %>
                <a href="?page=1"><button id="prevButton"><img src="/assets/images/doubleLeft.png" alt="First" class="arrow"></button></a>
                <a href="?page=<%= pageNumber - 1 %>"><button id="prevButton"><img src="/assets/images/left.png" alt="Previous" class="arrow single"></button></a>
            <% } %>

                <p id="pages">
                    <%= pageNumber %> / <%= totalPages %>
                </p>

            <% if (pageNumber < totalPages) { %>
                <a href="?page=<%= pageNumber + 1 %>"><button id="nextButton"><img src="/assets/images/right.png" alt="Next" class="arrow single"></button></a>
                <a href="?page=<%= totalPages %>"><button id="prevButton"><img src="/assets/images/doubleRight.png" alt="Last" class="arrow"></button></a>
            <% } %>

          <%     
            }
          %>

    </div>

    <section id="modals">

        <modal id="cardM">
 
            <button class="hideM">X</button>
            
            <!-- IFrame moet nog via js aanpasbaar worden
            maar gezien we voorlopig maar 1 carddetail page hebben, heb ik daar nu men tijd niet in gestoken -->

            <iframe id="cardDetailFrame" src= "/cardDetail"></iframe>


        </modal>

        <%-include("partials/modals/logout-modal")%>

    </section>
    
</body>

<script src="/js/modals.js"></script>
</html>